body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

#root {
  margin-left: 2em;
}

button.back {
  color: blue;
  border-width: 0;
  background-color: white;
}

#GroupPicker input {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#DeckPicker {
  font-size: 120%;
}
#DeckPicker button {
  margin: 0.5em;
}

#PostDeckList {
  font-size: 80%;
}
#ShowDecks .head {
  padding-top: 1em;
  font-weight: bold;
}
.ShowDecks {
  margin-left: 0.5em;
}
#ShowDecks td {
  padding-left: 1em;
}
#PostDeckList input {
  margin-left: .5em;
  margin-right: .5em;
}

#DeckList input {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.reverse-checkbox {
  font-size: 66%;
  margin-left: 1em;
}
.reverse-checkbox input {
  margin-right: .5em;
}

#Flashcard {
  font-size: 150%;
}

.language {
  display: inline-block;
  width:   5em;
  vertical-align: middle;
}
.word {
  display: inline-block;
  width: 15em;
  vertical-align: middle;
}
.word button {
  font-size:        75%;
  font-weight:      bold;
  margin-right:     1em;
  color:            black;
  background-color: #eee;
  border-color:     black;
}
.evaluate {
  margin-top: 0.5em;
}
.evaluate .language {
  vertical-align: center;
}

.smaller {
  font-size: 50%;
}

#ScoreTable {
  margin-top: 1em;
  width: 20em;
}

#ScoreTable td.level {
  font-weight: bold;
  vertical-align: top;
  padding-right: 0.5em;
}
span.nowrap {
  white-space: nowrap; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main__wrap {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 50px 0px;
  justify-content: center;
}

.card__box {
  padding: 50px 10px;
  border: 10px solid #7fd8e6;
  border-radius: 12px;
  background-color: #ddf2f5;
}
.row {
  justify-content: center !important;
}
.navbar {
  justify-content: center !important;
  background: transparent !important;
}
.btn {
  cursor: pointer !important;
}
.btn-danger {
  color: black;
  background-color: #eee;
  border-color: black;
}
.btn-warning {
  color: black;
  background-color: #888;
  border-color: black;
}
.btn-success {
  color: black;
  background-color: #444;
  border-color: black;
}

.badge {
  width: 70px !important;
}
